.expand-icon {
    cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
}
.navbar-brand:hover {
    font-weight: bold;
}

.disease-list {
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
}
.disease-list th.rotate {
    padding-left: 0;
    transform: rotate(-60deg) translate(-20px, -30px);
}
.disease-list td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-card-header {
    font-weight: 450;
    color:darkblue;
    background-color: lightskyblue;
}